<!-- Generated template for the CopyrightInfoComponent component -->
<ion-card>
  <ion-card-header>
    <img alt="知识共享许可协议" src="https://i.creativecommons.org/l/by-nc-sa/2.5/cn/88x31.png" /> 作者：{{copyrightInfoModule?.author}}
    <ion-label> 出处：
      <ion-icon color="primary" ios="ios-link" md="md-link" (click)="$event.stopPropagation();goThisPage(copyrightInfoModule?.source)">{{copyrightInfoModule?.source}}</ion-icon>
    </ion-label>
    本文采用
    <ion-icon ios="ios-link" md="md-link">
      <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/2.5/cn/">知识共享署名-非商业性使用-相同方式共享 2.5 中国大陆许可协议</a>
    </ion-icon>
    进行许可，欢迎转载，但未经作者同意必须保留此段声明，且在文章页面明显位置给出原文连接。
  </ion-card-header>
</ion-card>
